{{#if data.title.show}}
  <header>
    <h{{title.level1}}>{{data.name}}</h{{title.level1}}>
  </header>
{{/if}}
<body>
  <div class='form-group'>
    <div class='flex-col'>
      <header class='section-header'>
        {{localize 'SWADE.Headquarters.Advantage'}}
      </header>
      <div class='form-fields'>
        {{{enriched.advantage}}}
      </div>
    </div>
    <div class='flex-col'>
      <header class='section-header'>
        {{localize 'SWADE.Headquarters.Complication'}}
      </header>
      <div class='form-fields'>
        {{{enriched.complication}}}
      </div>
    </div>
  </div>
  <div class='form-group'>
    <header class='section-header'>
      {{localize 'SWADE.Headquarters.Form'}}
    </header>
    <div class='form-fields'>
      <div class='flex-col'>
        <header class='hq-form section-header'>
          {{localize 'SWADE.Headquarters.Description'}}
        </header>
        {{{enriched.form.description}}}
      </div>
      <div class='flex-col'>
        <header class='hq-form section-header'>
          {{localize 'SWADE.Headquarters.Acquisition'}}
        </header>
        {{{enriched.form.acquisition}}}
      </div>
      <div class='flex-col'>
        <header class='hq-form section-header'>
          {{localize 'SWADE.Headquarters.Maintenance'}}
        </header>
        {{{enriched.form.maintenance}}}
      </div>
    </div>
  </div>
  <div class="form-group">
    <header class='section-header'>
      {{localize 'SWADE.Headquarters.Upgrades'}}
    </header>
    <div class="form-fields">
      {{{enriched.upgrades}}}
    </div>
  </div>
</body>