<form>
  <h3>{{parent.name}}</h3>
  <fieldset class='flexcol'>
    <legend>{{prompt}}</legend>
    {{#each choices as |choice|}}
      <div>
        <input
          type='radio'
          id='choice{{choice.value}}'
          name='choiceset'
          value='{{choice.value}}'
        />
        <label
          for='choice{{choice.value}}'
          class='choice'
        >{{choice.name}}</label>
      </div>
    {{/each}}
  </fieldset>
  <footer class='flexrow'>
    <button type='button' id='submit-choice'>
      <i class='fas fa-check-double'></i>
      {{localize 'SWADE.ButtonSubmit'}}
    </button>
    <button type='button' id='close'>
      <i class='fas fa-times'></i>
      {{localize 'Close'}}
    </button>
  </footer>
</form>