<form class='main-grid {{cssClass}}' autocomplete='off'>
  <figure class='grid-under gu-1'></figure>
  <figure class='grid-under gu-2'></figure>
  <figure class='grid-under gu-3'></figure>
  <figure class='grid-under gu-4'></figure>

  {{!-- Sheet Header --}}
  {{> 'swade.item-header'}}

  {{!-- Sidebar --}}
  <section class='sheet-sidebar'>
    {{formGroupSimple "system.rank" rootId=item.uuid}}
    {{formGroupSimple "system.pp" rootId=item.uuid label="SWADE.PPShort"}}
    {{formGroupSimple "system.range" rootId=item.uuid source=true}}
    {{formGroupSimple "system.duration" rootId=item.uuid}}
    {{formGroupSimple "system.damage" rootId=item.uuid}}
    {{formGroupSimple "system.ap" rootId=item.uuid}}
    {{formGroupSimple "system.arcane" rootId=item.uuid}}
    <hr>
    {{> 'swade.item-additional-stats'}}
  </section>

  {{!-- Sheet Tab Navigation --}}
  <nav class='tabs' data-group='main'>
    <a class='item' data-tab='description' data-group='main'>
      {{localize 'SWADE.Desc'}}
    </a>
    <a class='item' data-tab='properties' data-group='main'>
      {{localize 'SWADE.Properties'}}
    </a>
    <a class='item' data-tab='actions'>{{localize 'SWADE.Actions.Name'}}</a>
    <a class='item' data-tab='effects'>{{localize 'SWADE.Effects'}}</a>
  </nav>

  {{!-- Main Section --}}
  <section class='sheet-body'>
    <section class='tab description' data-group='main' data-tab='description'>
      <div>
        <input
          name="system.trapping"
          type="text"
          value="{{item.system.trapping}}"
          placeholder="{{localize 'SWADE.Trap'}}"
          title="{{localize 'SWADE.Trap'}}"
          data-dtype="String"
        />
      </div>
      {{> 'swade.item-tab-description'}}
    </section>
    <section class='tab properties' data-group='main' data-tab='properties'>
      <div class="form-group">
        <label for="{{item.uuid}}-innate">
          {{localize "SWADE.InnatePower"}}
        </label>
        <span class='form-fields'>
          <input id="{{item.uuid}}-innate" type='checkbox' name='system.innate' {{checked item.system.innate}}/>
        </span>
      </div>
      {{> 'swade.item-templates'}}
      <hr>
      {{> 'swade.item-action-properties'}}
      {{formGroupSimple "system.activities" stacked=true}}
      {{> 'swade.item-bonus-damage'}}
    </section>
    <section class='tab actions' data-group='main' data-tab='actions'>
      {{> 'swade.item-tab-actions'}}
    </section>
    <section class='tab effects' data-group='main' data-tab='effects'>
      {{> 'swade.item-tab-effects'}}
    </section>
  </section>

  <figure class='grid-cover gc-1'></figure>
  <figure class='grid-cover gc-2'></figure>
  <figure class='grid-cover gc-3'></figure>
  <figure class='grid-cover gc-4'></figure>
</form>