.ambush-assistant {
  [draggable='true'] {
    cursor: move;
  }
  .body {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
  .unmarked-list {
    padding: 0 0.25rem;
  }

  .column {
    transition: background-color 0.25s ease-in-out;
    & + .column {
      border-left: 1px solid var(--accent-color-secondary);
    }
  }
  .column-header {
    margin: 0 0.25rem;
    text-align: center;
    border-bottom: 1px solid var(--color-underline-header);
  }

  .combatant:not(:last-of-type) {
    border-bottom: 1px solid var(--accent-color-secondary);
  }

  .combatant {
    display: grid;
    grid-template-columns: 3rem 1fr;
    grid-template-areas: 'img name' 'img followers';
    align-items: center;
    column-gap: 0.5rem;
    row-gap: 0.25rem;

    padding-bottom: 0.15rem;
    margin-bottom: 0.15rem;
    .token-image {
      margin: auto;
      border: none;
      grid-area: img;
      height: 3rem;
    }
    .name {
      grid-area: name;
    }
    .followers {
      grid-area: followers;
    }
  }
  .drag-highlight {
    background-color: color-mix(
      in srgb,
      var(--accent-color-secondary),
      transparent 50%
    );
  }
}
