<form autocomplete='off' class='tweaks-form'>
  {{#if isActor}}
    <nav class='tabs' data-group='primary'>
      <a class='item' data-group='primary' data-tab='traits'>
        {{localize 'SWADE.Summary'}}
      </a>
      {{#if hasSettingFields}}
        <a class='item' data-group='primary' data-tab='additional-stats'>
          {{localize 'SWADE.AddStats'}}
        </a>
      {{/if}}
      <a class='item' data-group='primary' data-tab='auras'>
        {{localize 'SWADE.Auras.TabHeader'}}
      </a>
    </nav>
    <main class='sheet-body'>
      <section class='tab' data-group='primary' data-tab='traits'>
        <!--Max Values-->
        <div class='form-group slim'>
          <label for='{{doc.uuid}}-flags.swade.hiddenActionOverride'>
            {{localize 'SWADE.Actions.DisplayHidden.Label'}}
          </label>
          <div class='form-fields'>
            <input
              type='checkbox'
              name='flags.swade.hiddenActionOverride'
              id='{{doc.uuid}}-flags.swade.hiddenActionOverride'
              {{checked doc.flags.swade.hiddenActionOverride}}
            />
          </div>
        </div>
        <section>
          {{#if isNPC}}
            {{formGroupSimple
              'system.wildcard'
              classes='slim'
              document=doc
              rootId=doc.uuid
              source=true
            }}
          {{/if}}
          {{#unless isVehicle}}
            {{formGroupSimple
              'system.attributes.smarts.animal'
              classes='slim'
              document=doc
              rootId=doc.uuid
              source=true
            }}
            {{formGroupSimple
              'system.advances.mode'
              classes='slim'
              label='SWADE.Adv'
              blank=false
              document=doc
              rootId=doc.uuid
              source=true
            }}
          {{/unless}}
          {{formGroupSimple
            'system.wounds.max'
            classes='slim'
            document=doc
            rootId=doc.uuid
            source=true
          }}
          {{#unless isVehicle}}
            {{formGroupSimple
              'system.fatigue.max'
              classes='slim'
              document=doc
              rootId=doc.uuid
              source=true
            }}
            {{formGroupSimple
              'system.bennies.max'
              classes='slim'
              document=doc
              rootId=doc.uuid
              source=true
            }}
          {{/unless}}
          {{formGroupSimple
            'system.wounds.ignored'
            classes='slim'
            document=doc
            rootId=doc.uuid
            source=true
          }}
          {{#unless isVehicle}}
            {{formGroupSimple
              'system.fatigue.ignored'
              classes='slim'
              document=doc
              rootId=doc.uuid
              source=true
            }}
            {{formGroupSimple
              'system.attributes.spirit.unShakeBonus'
              classes='slim'
              document=doc
              rootId=doc.uuid
              source=true
            }}
            {{formGroupSimple
              'system.attributes.vigor.soakBonus'
              classes='slim'
              document=doc
              rootId=doc.uuid
              source=true
            }}
          {{/unless}}
          {{#if isVehicle}}
            {{formGroupSimple
              'system.maxCargo'
              classes='slim'
              document=doc
              rootId=doc.uuid
              source=true
            }}
            {{#if hasModSlots}}
              {{formGroupSimple
                'system.maxMods'
                classes='slim'
                document=doc
                rootId=doc.uuid
                source=true
              }}
            {{/if}}
          {{/if}}
        </section>
        <!--Initiative-->
        <fieldset>
          <legend>{{localize 'SWADE.Init'}}</legend>
          {{formGroupSimple
            'system.initiative.hasLevelHeaded'
            classes='slim'
            document=doc
            rootId=doc.uuid
            source=true
          }}
          {{formGroupSimple
            'system.initiative.hasImpLevelHeaded'
            classes='slim'
            document=doc
            rootId=doc.uuid
            source=true
          }}
          {{formGroupSimple
            'system.initiative.hasQuick'
            classes='slim'
            document=doc
            rootId=doc.uuid
            source=true
          }}
          <hr />
          {{formGroupSimple
            'system.initiative.hasHesitant'
            classes='slim'
            document=doc
            rootId=doc.uuid
            source=true
          }}
        </fieldset>
        {{#unless isVehicle}}
          <!--Automatic Calculations-->
          <fieldset>
            <legend>{{localize 'SWADE.AutoCalc'}}</legend>
            {{formGroupSimple
              'system.details.autoCalcToughness'
              label='SWADE.Tough'
              classes='slim'
              document=doc
              rootId=doc.uuid
              source=true
            }}
            {{formGroupSimple
              'system.details.autoCalcParry'
              label='SWADE.Parry'
              classes='slim'
              document=doc
              rootId=doc.uuid
              source=true
            }}
          </fieldset>
          <!--Pace-->
          <fieldset>
            <legend>{{localize 'SWADE.Pace'}}</legend>
            {{formGroupSimple
              'system.pace.base'
              classes='slim'
              document=doc
              source=true
              rootId=doc.uuid
            }}
            {{formGroupSimple
              'system.pace.ground'
              classes='slim'
              document=doc
              source=true
              rootId=doc.uuid
            }}
            {{formGroupSimple
              'system.pace.fly'
              classes='slim'
              document=doc
              source=true
              rootId=doc.uuid
            }}
            {{formGroupSimple
              'system.pace.swim'
              classes='slim'
              document=doc
              source=true
              rootId=doc.uuid
            }}
            {{formGroupSimple
              'system.pace.burrow'
              classes='slim'
              document=doc
              source=true
              rootId=doc.uuid
            }}
            <div class='form-group slim'>
              <label for='{{doc.uuid}}-system.pace.running.die'>
                {{localize 'SWADE.RunningDie'}}
              </label>
              <span class='form-fields'>
                <select
                  name='system.pace.running.die'
                  id='{{doc.uuid}}-system.pace.running.die'
                  class='running-die'
                >
                  {{selectOptions
                    runningDieTypes
                    selected=doc.system._source.pace.running.die
                    localize=true
                    labelAttr='label'
                    valueAttr='key'
                  }}
                </select>
                <input
                  type='text'
                  id='{{doc.uuid}}-system.pace.running.mod'
                  name='system.pace.running.mod'
                  value='{{signedString doc.system_source.pace.running.mod}}'
                  data-dtype='Number'
                />
              </span>
            </div>
          </fieldset>
        {{/unless}}
      </section>
      {{#if hasSettingFields}}
        <section
          class='tab {{itemTabActive}}'
          data-group='primary'
          data-tab='additional-stats'
        >
          {{#if isItem}}<h2>{{localize 'SWADE.AddStats'}}</h2>{{/if}}
          <header class='form-group flexrow additionalStats-header'>
            <div>{{localize 'SWADE.AdditionalStats.Label'}}</div>
            <div class='centered'>
              {{localize 'SWADE.AdditionalStats.HasMaxValue'}}
            </div>
            <div class='centered'>{{localize 'SWADE.Enabled'}}</div>
          </header>
          {{#each settingFields as |attr key|}}
            <div class='flexrow'>
              <div style='text-align: left'>
                <label
                  for='{{doc.uuid}}-{{key}}-useField'
                >{{attr.label}}</label>
              </div>
              <div class='centered'>
                <input type='checkbox' {{checked attr.hasMaxValue}} disabled />
              </div>
              <div class='centered'>
                <input
                  type='checkbox'
                  name='system.additionalStats.{{key}}.useField'
                  id='{{doc.uuid}}-{{key}}-useField'
                  {{checked attr.useField}}
                />
              </div>
            </div>
          {{/each}}
        </section>
      {{/if}}
      <section class='tab' data-group='primary' data-tab='auras'>
        <!-- User Defined Aura 1-->
        <fieldset>
          <legend>{{localize 'SWADE.Auras.UserAura1'}}</legend>
          <div class='form-group slim'>
            <label for='{{doc.uuid}}-enable-aura1'>
              {{localize 'SWADE.Auras.Enabled'}}
            </label>
            <input
              id='{{doc.uuid}}-enable-aura1'
              type='checkbox'
              name='flags.swade.auras.aura1.enabled'
              {{checked auras.auras.aura1.enabled}}
            />
          </div>
          <div
            class='form-group slim'
            data-tooltip='SWADE.Auras.WallConstraints.Hint'
          >
            <label for='{{doc.uuid}}-constrain-aura1'>
              {{localize 'SWADE.Auras.WallConstraints.Label'}}
            </label>
            <input
              id='{{doc.uuid}}-constrain-aura1'
              type='checkbox'
              name='flags.swade.auras.aura1.walls'
              {{checked auras.auras.aura1.walls}}
            />
          </div>
          <div class='form-group slim'>
            <label for='{{doc.uuid}}-radius-aura1'>
              {{localize 'SWADE.Auras.Range'}}
              <span class='units'>({{auras.units}})</span></label>
            <span class='form-fields'>
              <input
                id='{{doc.uuid}}-radius-aura1'
                type='number'
                name='flags.swade.auras.aura1.radius'
                value='{{auras.auras.aura1.radius}}'
                min='0'
                step='1'
                placeholder='{{auras.units}}'
              />
            </span>
          </div>
          <div class='form-group slim'>
            <label>
              {{localize 'SWADE.Auras.Color'}}
            </label>
            <span class='form-fields'>
              <color-picker
                name='flags.swade.auras.aura1.color'
                value={{auras.auras.aura1.color}}
                default={{defaultColor}}
              />
            </span>
          </div>
          <div class='form-group stacked'>
            <label>{{localize 'SWADE.Auras.Alpha'}}</label>
            <span class='form-fields'>
              {{rangePicker
                name='flags.swade.auras.aura1.alpha'
                value=auras.auras.aura1.alpha
                min=0
                max=1
                step=0.05
              }}
            </span>
          </div>
          <div
            class='form-group slim'
            data-tooltip='SWADE.Aura.Visibility.Hint'
          >
            <label>{{localize 'SWADE.Aura.Visibility.Label'}}</label>
            <span class='form-fields'>
              <select
                data-dtype='Number'
                data-aura-id='aura1'
                name='flags.swade.auras.aura1.visibleTo'
                size='3'
                multiple
              >
                {{selectOptions
                  auras.visibilityChoices
                  selected=auras.auras.aura1.visibleTo
                  localize=true
                  valueAttr='key'
                  labelAttr='label'
                }}
              </select>
            </span>
          </div>
        </fieldset>
        <!-- User Defined Aura 2-->
        <fieldset>
          <legend>{{localize 'SWADE.Auras.UserAura2'}}</legend>
          <div class='form-group slim'>
            <label for='{{doc.uuid}}-enable-aura2'>
              {{localize 'SWADE.Auras.Enabled'}}
            </label>
            <input
              id='{{doc.uuid}}-enable-aura2'
              type='checkbox'
              name='flags.swade.auras.aura2.enabled'
              {{checked auras.auras.aura2.enabled}}
            />
          </div>
          <div
            class='form-group slim'
            data-tooltip='SWADE.Auras.WallConstraints.Hint'
          >
            <label for='{{doc.uuid}}-constrain-aura2'>
              {{localize 'SWADE.Auras.WallConstraints.Label'}}
            </label>
            <input
              id='{{doc.uuid}}-constrain-aura2'
              type='checkbox'
              name='flags.swade.auras.aura2.walls'
              {{checked auras.auras.aura2.walls}}
            />
          </div>
          <div class='form-group slim'>
            <label for='{{doc.uuid}}-radius-aura2'>
              {{localize 'SWADE.Auras.Range'}}
              <span class='units'>({{auras.units}})</span>
            </label>
            <span class='form-fields'>
              <input
                id='{{doc.uuid}}-radius-aura2'
                type='number'
                name='flags.swade.auras.aura2.radius'
                value='{{auras.auras.aura2.radius}}'
                min='0'
                step='1'
                placeholder='{{auras.units}}'
              />
            </span>
          </div>
          <div class='form-group slim'>
            <label>{{localize 'SWADE.Auras.Color'}}</label>
            <span class='form-fields'>
              <color-picker
                name='flags.swade.auras.aura2.color'
                value={{auras.auras.aura2.color}}
                default={{defaultColor}}
              />
            </span>
          </div>
          <div class='form-group stacked'>
            <label>{{localize 'SWADE.Auras.Alpha'}}</label>
            <span class='form-fields'>
              {{rangePicker
                name='flags.swade.auras.aura2.alpha'
                value=auras.auras.aura2.alpha
                min=0
                max=1
                step=0.05
              }}
            </span>
          </div>
          <div
            class='form-group slim'
            data-tooltip='SWADE.Aura.Visibility.Hint'
          >
            <label>{{localize 'SWADE.Aura.Visibility.Label'}}</label>
            <span class='form-fields'>
              <select
                data-dtype='Number'
                data-aura-id='aura2'
                name='flags.swade.auras.aura2.visibleTo'
                size='3'
                multiple
              >
                {{selectOptions
                  auras.visibilityChoices
                  selected=auras.auras.aura2.visibleTo
                  localize=true
                  valueAttr='key'
                  labelAttr='label'
                }}
              </select>
            </span>
          </div>
        </fieldset>
      </section>
    </main>
  {{else}}
    <span aria-hidden='true'></span>
    <main class='sheet-body'>
      <div class='tab active' data-tab=''>
        <fieldset class='swid'>
          <p class='notification warning'>
            {{localize 'SWADE.SWID.ChangeWarning1'}}
          </p>
          <legend>{{localize 'SWADE.SWID.Long'}}</legend>
          <div class='form-group flexrow'>
            {{formInputSimple 'system.swid' document=doc}}
            <button type='button' class='regenerate-swid'>
              <i class='fa-solid fa-arrows-rotate'></i>
            </button>
          </div>
        </fieldset>
        {{#if doc.system.build}}
          {{formGroupSimple
            'system.build.cost'
            classes='slim'
            document=doc
            rootId=doc.uuid
          }}
        {{/if}}
        {{#if hasSettingFields}}
          <h2>{{localize 'SWADE.AddStats'}}</h2>
          <header class='form-group flexrow additionalStats-header'>
            <div>{{localize 'SWADE.AdditionalStats.Label'}}</div>
            <div class='centered'>
              {{localize 'SWADE.AdditionalStats.HasMaxValue'}}
            </div>
            <div class='centered'>{{localize 'SWADE.Enabled'}}</div>
          </header>
          {{#each settingFields as |attr key|}}
            <div class='flexrow'>
              <div style='text-align: left'>
                <label
                  for='{{doc.uuid}}-{{key}}-useField'
                >{{attr.label}}</label>
              </div>
              <div class='centered'>
                <input type='checkbox' {{checked attr.hasMaxValue}} disabled />
              </div>
              <div class='centered'>
                <input
                  type='checkbox'
                  name='system.additionalStats.{{key}}.useField'
                  id='{{doc.uuid}}-{{key}}-useField'
                  {{checked attr.useField}}
                />
              </div>
            </div>
          {{/each}}
        {{/if}}
      </div>
    </main>
  {{/if}}
  <footer class='sheet-footer'>
    <button type='submit'>
      <i class='fas fa-save'></i>{{localize 'Save Changes'}}
    </button>
  </footer>
</form>