<header class='flexrow header'>
  <img
    src='{{actor.img}}'
    class='profile-img'
    data-edit='img'
    data-action='editImg'
  />
  <input
    type='text'
    name='name'
    class='name'
    value='{{actor.name}}'
    placeholder='{{localize "Name"}}'
    {{readonly actor.system.locked}}
  />
  {{#if user.isGM}}
    <button
      type='button'
      data-action='toggleLock'
      class='icon'
      data-tooltip='SWADE.Group.Sheet.Lock.Label'
    >
      {{#if actor.system.locked}}
        <i class='fa-solid fa-lock'></i>
      {{else}}
        <i class='fa-solid fa-lock-open'></i>
      {{/if}}
    </button>
  {{/if}}
</header>