<div class="edge flexcol">
    <span class="name">{{parent.name}}</span>
    <section class="requirements">
        <span><strong class="req-header">{{localize "SWADE.Req"}}:</strong>&nbsp;{{{requirementString}}}</span>
    </section> 
    <section class="description">
        {{{enrichedDescription}}}
    </section>
</div>