<div class="hindrance flexcol">
    <span class="name">{{parent.name}}&nbsp;({{formatHindranceSeverity severity}})</span>
    <section class="description">
        {{{enrichedDescription}}}
    </section>
</div>